In [1]:
import blpapi

import pdblp
from numpy import unique
import numpy as np
from xbbg import blp
from xbbg import blp, pipeline

from datetime import datetime, timedelta
import pandas as pd

In [2]:
holders = blp.bds('GOOG US Equity', flds='Top_20_Holders_Public_Filings', cache=True)
holders.head()

,holder_name,portfolio_name,source,amount_held,percent_outstanding,latest_change,filing_date,institution_type,country,metro_area
GOOG US Equity,Vanguard Group Inc/T,n/a,ULT-AGG,414407971.0,7.49,2486898.0,2024-06-30,Investment Advisor,United States,Philadelphia
GOOG US Equity,Page Lawrence E,n/a,Form 4,390272280.0,7.05,-277760.0,2022-04-19,Unclassified,n/a,Unclassified
GOOG US Equity,Blackrock Inc,n/a,ULT-AGG,373248745.0,6.74,402036.0,2024-11-11,Investment Advisor,United States,New York City/Southern CT/Northern NJ
GOOG US Equity,Brin Sergey Mikhailo,n/a,Form 4,364290808.0,6.58,0.0,2024-05-30,Unclassified,n/a,Unclassified
GOOG US Equity,State Street Corp,n/a,ULT-AGG,187221974.0,3.38,-3693260.0,2024-11-07,Investment Advisor,United States,Boston

In [3]:
blp.bdh('TSLA US Equity',['PX_LAST','IVOL_Delta','VOLUME_TOTAL_CALL'],datetime(2023,8,4),datetime(2023,8,19),
                 IVOL_DELTA_LEVEL='DELTA_LVL_25',
                 IVOL_MATURITY='MATURITY_0D',
                 IVOL_DELTA_PUT_OR_CALL='IVOL_CALL')

           TSLA US Equity
                  PX_LAST IVOL_Delta VOLUME_TOTAL_CALL
2023-08-04         253.86    42.4726         1537802.0
2023-08-07         251.45    39.5239         1064559.0
2023-08-08         249.70    39.6448          641504.0
2023-08-09         242.19    41.8794          841410.0
2023-08-10         245.34    39.5430         1102788.0
2023-08-11         242.65    39.5248         1217966.0
2023-08-14         239.76    36.5537          798781.0
2023-08-15         232.96    39.1216          788635.0
2023-08-16         225.60    41.1898         1142235.0
2023-08-17         219.22    42.1354         1289885.0
2023-08-18         215.49    45.8887         1771595.0

In [4]:
cur_dt = pd.Timestamp('today', tz='America/New_York').date()

# Range of the last two business days including today
recent = pd.bdate_range(end=cur_dt, periods=5, tz='America/New_York')

# Getting the date just before today which is also a business day
# We convert it to date format to remove any timezone information for simplicity
pre_dt = recent[0].date()
pre_dt

datetime.date(2024, 11, 6)

In [5]:
blp.bdib('QQQ US Equity', dt=pre_dt, session='day').tail()

                          QQQ US Equity                                   \
                                   open    high     low   close   volume
2024-11-06 15:55:00-05:00       505.720  505.80  505.55  505.74   136892
2024-11-06 15:56:00-05:00       505.750  505.80  505.63  505.74   132038
2024-11-06 15:57:00-05:00       505.740  505.82  505.56  505.78   174911
2024-11-06 15:58:00-05:00       505.772  505.85  505.41  505.51   491594
2024-11-06 15:59:00-05:00       505.510  505.82  505.39  505.58  2478030


                          num_trds         value
2024-11-06 15:55:00-05:00      842  6.922450e+07
2024-11-06 15:56:00-05:00      839  6.677447e+07
2024-11-06 15:57:00-05:00     1024  8.845160e+07
2024-11-06 15:58:00-05:00     2171  2.485867e+08
2024-11-06 15:59:00-05:00     5966  1.252871e+09

In [6]:
print(blp.bdib('SPX US 05/17/24 C5300 Index', dt=pre_dt, session='day'))

Empty DataFrame
Columns: []
Index: []

In [7]:
import pdblp

con = pdblp.BCon(debug=True, port=8194, timeout=5000)

con.start()

pdblp.pdblp:INFO:Event Type: 'SESSION_STATUS'
pdblp.pdblp:INFO:Message Received:
SessionConnectionUp = {
    server = "localhost:8194"
    serverId = "bbcomm-JBDHNY075-4036691"
    encryptionStatus = "Clear"
    compressionStatus = "Uncompressed"
}

pdblp.pdblp:INFO:Event Type: 'SESSION_STATUS'
pdblp.pdblp:INFO:Message Received:
SessionStarted = {
    initialEndpoints[] = {
        initialEndpoints = {
            address = "localhost:8194"
        }
    }
}

pdblp.pdblp:INFO:Event Type: 'SERVICE_STATUS'
pdblp.pdblp:INFO:Message Received:
CID: {[ valueType=AUTOGEN classId=0 value=7 ]}
RequestId: bb2c2884-89c0-a2b6-0000-bd26a8c00600
ServiceOpened = {
    serviceName = "//blp/refdata"
}

pdblp.pdblp:INFO:Event Type: 'SERVICE_STATUS'
pdblp.pdblp:INFO:Message Received:
CID: {[ valueType=AUTOGEN classId=0 value=9 ]}
RequestId: df2ccb84-89c0-a2b6-0000-bd26a8c00600
ServiceOpened = {
    serviceName = "//blp/exrsvc"
}

In [8]:
import datetime
import json

import pandas

from blp import blp

In [9]:
bquery = blp.BlpQuery().start()

In [10]:
bquery = blp.BlpQuery().start()



bquery.bdh(
    ["EURUSD Curncy"],
    ["PX_LAST"],
    start_date="20190101",
    end_date="20190110",
    options={"adjustmentSplit": True}
)

        date       security  PX_LAST
0 2019-01-01  EURUSD Curncy   1.1465
1 2019-01-02  EURUSD Curncy   1.1344
2 2019-01-03  EURUSD Curncy   1.1394
3 2019-01-04  EURUSD Curncy   1.1395
4 2019-01-07  EURUSD Curncy   1.1474
5 2019-01-08  EURUSD Curncy   1.1441
6 2019-01-09  EURUSD Curncy   1.1543
7 2019-01-10  EURUSD Curncy   1.1500

In [24]:
from blp import blp
from datetime import datetime, timedelta

bquery = blp.BlpQuery().start()


start_datetime = datetime.now() - timedelta(days=1)  # Example: 1 day before today
end_datetime = datetime.now()

data = bquery.bdib(
    "EURUSDV1M BGN Curncy",
    event_type="TRADE",
    interval=30,
    start_datetime=start_datetime, # Different date format
    end_datetime=end_datetime, # Different date format
)

data.tail()

,time,open,high,low,close,volume,numEvents,value
44,2024-11-12 14:00:00,7.7850,7.7900,7.7800,7.7800,0,28,0.0
45,2024-11-12 14:30:00,7.7800,7.7800,7.7575,7.7575,0,26,0.0
46,2024-11-12 15:00:00,7.7575,7.7575,7.7575,7.7575,0,28,0.0
47,2024-11-12 15:30:00,7.7575,7.7575,7.7450,7.7575,0,28,0.0
48,2024-11-12 16:00:00,7.7575,7.7650,7.7450,7.7650,0,24,0.0